<h1>Editing Contextual Help Article</h1>

<% form_for(@help_article) do |f| %>
  <%= render :partial => "form", :locals => { :f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @help_article %> |
<%= link_to 'Contextual Help Articles', help_articles_path %> |
<%= link_to 'Contextual Help Locations', help_locations_path %>
